<mat-toolbar>
    <div class="spacer"></div>
    <a mat-button color="warn">Call Center <mat-icon>call</mat-icon> 021 9268</a>
    <a mat-button color="warn">Programari</a>
    <a>|</a>
    <a mat-button color="warn" href="./login">Intra in cont <mat-icon>perm_identity</mat-icon></a>
</mat-toolbar>

<mat-toolbar>
    <span>
        <mat-icon color="warn">local_hospital</mat-icon>
        MedicalProject
    </span>
    <div class="spacer"></div>
    <a mat-button>Medici</a>
    <a mat-button>Locatii</a>

</mat-toolbar>
