
<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Completeaza numele</ng-template>
      <mat-form-field>
        <mat-label>Nume</mat-label>
        <input matInput placeholder="Nume, Prenume" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Urmatorul</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Completeaza adresa</ng-template>
      <mat-form-field>
        <mat-label>Adresa</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. Iuliu Maniu, Brasov,Romania"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Inapoi</button>
        <button mat-button matStepperNext>Urmatorul</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finalizeaza Cont</ng-template>
    <div>
      <button mat-button matStepperPrevious>Inapoi</button>
      <button mat-button >Finalizeaza</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>